*,
*::before,
*::after {
  box-sizing: border-box;
}

.search_city_form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
}

.search-city-input {
  display: block;
  width: 333px;
  height: calc(2.8rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  font-family: "Sofia Sans", sans-serif;
}

.search-city-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.search-city-input:disabled,
.search-city-input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

.search-city-input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.search-city-inpit-wrapper {
  position: relative;
}

.search-city-input:disabled,
.search-city-input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

.search-city-input-wrapper .search-city-input {
  height: calc(2.5rem + 2px);
  padding: 0.5rem 0.75rem;
}

.search-city-inpit-wrapper .input-label {
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  display: flex;
  transform: translateY(-50%);
  pointer-events: none;
  border: none;
  background-color: #fff;
  color: #757575;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
  font-family: "Sofia Sans", sans-serif;
}

.search-city-inpit-wrapper .search-city-input::placeholder {
  color: transparent;
}

.search-city-inpit-wrapper .search-city-input:focus ~ .input-label,
.search-city-inpit-wrapper .search-city-input:not(:placeholder-shown) ~ .input-label {
  top: 0;
  transform: translateY(-50%) scale(0.75);
}

.weather-comments-wrapper {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
.weather-comments-wrapper .weather-comments {
  font-size: 15px;
  font-family: "Sofia Sans", sans-serif;
}
.weather-comments-wrapper .weather-comments-title {
  font-size: 39px;
  font-family: "Sofia Sans", sans-serif;
}
.weather-comments-wrapper .weather-comments-description {
  font-size: 16px;
  font-family: "Sofia Sans", sans-serif;
  text-align: right;
}
.weather-comments-wrapper .weather-comments-wrapper {
  position: absolute;
}
.weather-comments-wrapper .clouds {
  padding-right: 10px;
}
.weather-comments-wrapper .wind {
  padding-left: 10px;
}
.weather-comments-wrapper .humidity {
  padding-right: 10px;
}
.weather-comments-wrapper .weather-comments-location {
  font-size: 23px;
  font-family: "Sofia Sans", sans-serif;
  text-align: right;
  padding-top: 15px;
}

.digrease {
  font-size: 13px;
}

.description {
  padding-left: 7px;
}

.only-weather-container {
  display: flex;
}

.weather-description-wrapper {
  padding-left: 30px;
  padding-top: 29px;
}

.weather-comments-time {
  font-size: 20px;
  text-align: right;
  font-family: "Sofia Sans", sans-serif;
}

.week-container {
  border-bottom: 1px solid black;
  width: 60px;
}

.week-weather-wrapper {
  background: transparent;
  display: flex;
  justify-content: space-between;
  max-width: 548px;
  width: 100%;
  margin: auto;
}

.week-weather {
  font-size: 20px;
  color: black;
  font-family: "Sofia Sans", sans-serif;
  text-align: center;
}

.week-weather-description {
  padding-bottom: 10px;
}

.week-weather-main-date {
  font-size: 16px;
  color: black;
  font-family: "Sofia Sans", sans-serif;
  text-align: center;
}

.units_btn_wrapper {
  display: flex;
}

.line {
  font-size: 16px;
  color: grey;
}

.units_btn {
  background: transparent;
  color: grey;
  border: none;
  cursor: pointer;
  transition: transform 5s;
}

.ft-temp {
  color: "red";
  font-size: 20px;
}

.submit_btn_wrapper {
  padding-left: 20px;
}
.submit_btn_wrapper .submit_btn {
  width: 100px;
  height: 47px;
  font-size: 15px;
  font-family: "Sofia Sans", sans-serif;
  text-align: center;
  background: none;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  cursor: pointer;
  animation: rotate 1.5s infinite linear;
}

.big-city-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.favourite-city-title {
  font-size: 20px;
  font-family: "Sofia Sans", sans-serif;
  text-align: center;
}

.city__btn {
  text-align: center;
  background: none;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  cursor: pointer;
  animation: rotate 1.5s infinite linear;
  font-family: "Sofia Sans", sans-serif;
  font-size: 15px;
  width: 100px;
  height: 35px;
}

.city {
  text-align: center;
}

/*# sourceMappingURL=weatherApp.css.map */
